# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: generic

os: osx

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "RHL7a1XSQrEciHGElrnGZ4C3XzpFb+MWfvAaplW6kPJ52yVxV0mfIvgkcyFjWPQV3B9tTrHwQtSl8Q3XH+vccxEpBh9OlDwUcW4FYmuaMOueC8I2CZVJiDPc9OGKzrVV33KCBZftP1KTlCALu1cilc5rsGO76SP/Sy40knQA+dShL2z08f/tBGWNrryMlB2p7tjZoC3lm7iCZPnC9DgQyJlOHe4AFga/K/Sw/uzk2iasjvzrv5CvycV6/ds8Q6DDCu0i2sm1S3P8iAGO0GXbQTKjE2SWJCkUnCnM5lni3vYGn6/wrx4TIsTc1jkIFqMSi+COG3t/m0gHFOwpqLQKri5ZEfannMCrIoDqyQs7YLU0bjMJ05evRJ14/VzCe/uaVlt8v9rSYyiRirfhASMXU8SBmMveNOSvvGX8GN9N5HluqcaAcQ+X9n9V3Up7+V2NWVlT7JI/nAvyW7xiDPJyZ8QEC2iaZVkmYGCA7vWHncVXzamwd4HVcRryN69a/1o8Gel4PGld7U4ZXqaxgvNrOqJH44QvmwrY+67sBPcvi30OigJ4KAkR2ukqsf1g5tA0NaCgQjATLp18dv7BJI2/s6F5hNhokES+pEoEr7Jm7rv3B8uGviSivWqR5Gy2Pu7f20Dmo3fl9a0+T/uk7sIb/g6G5jSyZ5NbVX0U1JN9P14="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
